.reveal .header {
  display: flex;
  flex-direction: row-reverse; // 从右向左排列
  margin: 0;
}

.reveal .hust {
  content: url("../../common/img/hust.png");
  height: 120px;
  margin-top: 0.5rem;
  margin-right: 2rem;
  margin-bottom: -2rem;
  margin-left: 0.5rem;
}

.reveal .bdts {
  content: url("../../common/img/bdts.png");
  height: 80px;
  margin: 1rem 0 -2rem auto;
}

.reveal h1 {
  font-size: 2.5rem;
  margin: 1rem auto;
}

.reveal h2 {
  font-size: 1.8rem;
  margin: 1rem auto;
}

.reveal h3 {
  font-size: 1.4rem;
  margin: 0.5rem auto;
}

.reveal h4 {
  font-size: 1.4rem;
  font-style: italic;
  margin: 1rem auto;
}

.reveal h5 {
  font-size: 2.8rem;
  margin: 0 0.3rem 0.5rem 0.5rem;
}

.reveal h6 {
  font-size: 1.2rem;
  margin: 0.5rem;
}

.reveal p {
  font-size: 1.8rem;
  margin: 0.5rem 2.5rem;
}

.reveal .title {
  width: 60%;
  margin-left: 2rem;
  margin-right: auto;
  padding-bottom: 1rem;
}

.reveal hr {
  height: 0.05rem;
}

.reveal .hr_top {
  margin: 0;
}

.reveal .footer {
  margin: auto 2rem 0 2rem;
}

.reveal .hr_bottom {
  margin: 0;
}

.reveal .bottom_left {
  width: 50%;
}

.reveal .bottom_center {
  width: 34%;
}

.reveal .bottom_right {
  font-size: 1rem;
  font-style: italic;
  width: 50%;
  margin-top: 0.3rem;
}

.reveal img,
.reveal video,
.reveal iframe {
  margin: 0;
  padding: 0;
}

.reveal dl,
.reveal ul {
  margin: 0 0 0 4rem;
}

.reveal ol {
  margin: 0 0 0 4.8rem;
}

.reveal ul > li,
.reveal ol > li {
  font-size: 1.5rem;
  margin: 0.4rem 0;
  margin-right: 2rem;
  color: var(--solarized-yellow);
}

.reveal ul > li:before {
  content: "\f260";
  font-family: FontAwesome;
  margin-left: -2rem;
  margin-right: 0.5rem;
  width: 1rem;
}

.reveal blockquote {
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
}

.reveal blockquote p {
  font-size: 1.6rem;
  margin: 1rem 1rem;
}

.reveal .mermaid {
  margin: 1.5rem 3rem;
}

.reveal pre {
  width: 90%;
  margin: 20px auto;
  font-size: 0.55em;
  line-height: 1.2em;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal pre code {
  padding: 5px;
}

.reveal table {
  margin: 2rem auto;
}

.reveal table th,
.reveal table td {
  font-size: 1.4rem;
  padding: 0.5rem 1rem 0.1rem 1rem;
}

// 三线表
.reveal .threelines {
  th {
    border-top: 2px solid var(--solarized-base01); // 表头上边框
    border-bottom: 1px solid var(--solarized-base01); // 表头下边框
  }
  tbody tr:nth-last-child(1) {
    border-bottom: 2px solid var(--solarized-base01); // 最后一行下边框
  }
}

// 从最后一行开始的bb行有上边框 默认bb=0 即就是三线表
@mixin tableconfig($tablename, $bb: 0) {
  .reveal .#{$tablename} tbody tr:nth-last-child(-n + #{$bb}) td {
    border-top: 1px solid var(--solarized-base01);
  }
}

@include tableconfig(rand, 1); // rand表最优一行是win/tie/lose 需上边框

// 设置第col列的对齐方式 默认左对齐
@mixin tablecolumnalign($tablename, $col, $align: left) {
  .reveal .#{$tablename} tr th:nth-child(#{$col}),
  .reveal .#{$tablename} tr td:nth-child(#{$col}) {
    text-align: $align;
  }
}

// dataset表1、2列左对齐 3、4列右对齐
/*@for $i from 1 to 3 {
  @include tablecolumnalign(dataset, $i);
  @include tablecolumnalign(dataset, $i + 2, right);
}*/

@include tablecolumnalign(rand, 1);

.reveal .dataset > table {
  width: 80%;
  margin-left: 4%;
  th:nth-child(-n + 1) {
    font-weight: normal;
  }
  th:nth-child(n + 2) {
    border-top: 2px solid var(--solarized-base01);
    border-bottom: 1px solid var(--solarized-base01);
  }
  th:nth-child(5),
  td:nth-child(5) {
    border-right: 1px solid var(--solarized-base01);
  }
  tr:nth-child(4) {
    td:nth-child(n + 2) {
      border-bottom: 2px solid var(--solarized-base01);
    }
  }
}

.reveal .vc > table {
  width: 69%;
  margin-left: auto;
  margin-right: auto;
  th:nth-child(1),
  td:nth-child(1) {
    border-right: 1px solid var(--solarized-base01);
  }
}
