.reveal .header {
  display: flex;
  flex-direction: row-reverse; // 从右向左排列
  margin: 0;
}

.reveal .hust {
  content: url("../../common/img/hust.png");
  height: 120px;
  margin-top: 0.5rem;
  margin-right: 2rem;
  margin-bottom: -2rem;
  margin-left: 0.5rem;
}

.reveal .bdts {
  content: url("../../common/img/bdts.png");
  height: 80px;
  margin: 1rem 0 -2rem auto;
}

.reveal h1 {
  font-size: 2.5rem;
  margin: 1rem auto;
}

.reveal h2 {
  font-size: 2rem;
  margin: 1rem auto;
}

.reveal h3 {
  font-size: 1.8rem;
  margin: 0.5rem auto;
}

.reveal h4 {
  font-size: 1.4rem;
  font-style: italic;
  margin: 1rem auto;
}

.reveal h5 {
  font-size: 2.8rem;
  margin: 0 0.3rem 0.5rem 0.5rem;
}

.reveal h6 {
  font-size: 1.2rem;
  margin: 0.5rem;
}

.reveal p {
  font-size: 1.8rem;
  margin: 0.5rem 2.5rem;
}

.reveal .title {
  width: 50%;
  margin-left: 2rem;
  margin-right: auto;
  padding-bottom: 1rem;
}

.reveal hr {
  height: 0.05rem;
}

.reveal .hr_top,
.reveal .hr_bottom {
  margin: 0;
}

.reveal .footer {
  margin: auto 2rem 0 2rem;
}

.reveal .bottom_left {
  width: 50%;
}

.reveal .bottom_center {
  width: 34%;
}

.reveal .bottom_right {
  font-style: italic;
  width: 50%;
  margin-top: 0.3rem;
}

.reveal img,
.reveal video,
.reveal iframe {
  margin: 0;
  padding: 0;
}

.reveal dl,
.reveal ul,
.reveal ol {
  margin: 0 0 0 4rem;
}

.reveal ul > li,
.reveal ol > li {
  font-size: 1.5rem;
  margin: 0.4rem 0;
  margin-right: 2rem;
}

.reveal ul > li:before {
  content: "\f260";
  font-family: FontAwesome;
  margin-left: -2rem;
  margin-right: 0.5rem;
  width: 1rem;
}

.reveal blockquote {
  width: 86%;
  margin: 20px auto;
  padding: 0.5rem;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  p {
    font-size: 1.6rem;
    margin: 1rem 1rem;
  }
}

.reveal .sparse {
  p {
    margin: 2rem 2.5rem 4rem 2.5rem;
  }
  ul {
    margin: 0 0 0 -2.5rem;
    li {
      margin: 2rem 0;
    }
  }
}

.reveal .theorem {
  background-color: var(--solarized-base2);
  border-radius: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  padding: 1rem;
}

.reveal .mermaid {
  margin: 1.5rem 3rem;
}

.reveal pre {
  margin: 1rem auto;
  font-size: 1.2rem;
  line-height: 1.4rem;
  background-color: transparent;
}

.reveal table {
  margin: 2rem auto;
  th,
  td {
    font-size: 1.4rem;
    padding: 0.5rem 1rem 0.1rem 1rem;
  }
}

.reveal .lenet {
  td {
    font-size: 1.2rem;
    padding: 0.5rem 1rem 0.1rem 1rem;
  }
}
